<div class="container">
  <h2 class="page-header">Movies List</h2>
  <div class="row">
    <ng-container *ngFor="let film of resources.results">
      <div class="col-md-3 col-sm-6 col-xs-12">        
        <div class="small-box bg-light-black-gradient">
          <div class="inner">
            <h4>{{film.title}}</h4>

            <span> Director: <p>{{film.director}}</p> </span>
          </div>
          <div class="icon">
            <i class="fa fa-arrow-circle-right"></i>
          </div>
          <a href="#" class="small-box-footer color-text-star">
            More info <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- <div class="row">
    <div class="col-md-4" *ngFor="let film of resources.results">
      <div class="box box-widget widget-user-2">
        <div class="widget-user-header bg-light-black-gradient">
          <div class="widget-user-image">
            <img class="img-circle" src="../../../../assets/imgs/logo_films.jpeg" alt="film.title">
          </div>
          <h4 class="widget-user-desc">{{film.title}}</h4>
          <h6 class="widget-user-desc">{{film.director}}</h6>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a href="#">Characters <span class="pull-right badge bg-blue">{{film.characters.length}}</span></a></li>
            <li><a href="#">Planets <span class="pull-right badge bg-blue">{{film.planets.length}}</span></a></li>
            <li><a href="#">Starships<span class="pull-right badge bg-blue">{{film.starships.length}}</span></a></li>
            <li><a href="#">Vehicles<span class="pull-right badge bg-blue">{{film.vehicles.length}}</span></a></li>
            <li><a href="#">Species <span class="pull-right badge bg-blue">{{film.species.length}}</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
</div>