<div class="container ">

  <section class="content-header">
    <h2 class="page-header">Movie detail
      <a (click)="backHome()" class="search-link pull-right">
        <span><small></small></span> <i class="fa fa-mail-reply"></i>
      </a>
    </h2>
  </section>

  <div class="row">
    <div class="col-xs-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_1" data-toggle="tab">Film</a></li>
          <li><a href="#tab_2" *ngIf="resources?.characters?.length > 0" (click)="viewDetail(resources.characters)"
              data-toggle="tab">Peoples</a></li>
          <li><a href="#tab_3" *ngIf="resources?.planets?.length > 0" (click)="viewDetail(resources.planets)"
              data-toggle="tab">Planets</a></li>
          <li><a href="#tab_4" *ngIf="resources?.starships?.length > 0" (click)="viewDetail(resources.starships)"
              data-toggle="tab">Starships</a></li>
          <li><a href="#tab_5" *ngIf="resources?.vehicles?.length > 0" (click)="viewDetail(resources.vehicles)"
              data-toggle="tab">Vehicles</a></li>
          <li><a href="#tab_6" *ngIf="resources?.species?.length > 0" (click)="viewDetail(resources.species)"
              data-toggle="tab">Species</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <app-head [title]="resources?.title" [ocultIcon]="true"></app-head>
            <app-info [data]="resources" [view]="['director', 'producer', 'episode_id', 'opening_crawl']"></app-info>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="tab_2">
            <app-characters [data]="otherInformation"></app-characters>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="tab_3">
            <app-planets [data]="otherInformation"></app-planets>
          </div>
          <!-- /.tab-pane -->
          <!-- /.tab-pane -->
          <div class="tab-pane" id="tab_4">
            <app-starships [data]="otherInformation"></app-starships>
          </div>
          <!-- /.tab-pane -->
          <!-- /.tab-pane -->
          <div class="tab-pane" id="tab_5">
            <ng-container *ngIf="viewList"  [@viewDeitalItem]="viewDetailItemState">
              <app-head [title]="dataDetail.name" [ocultIcon]="false" (ocultViewDetail)='ocultViewDetail($event)'></app-head>
              <app-info [data]="dataDetail" [omit]="['films','created','url','edited']"></app-info>
            </ng-container>
            <ng-container *ngIf="otherInformation.length > 0 && !viewList">
              <app-list [data]="otherInformation" (viewDetailItem)="viewDetailItem($event)"></app-list>
            </ng-container> 
            <!-- <app-vehicles [data]="otherInformation"></app-vehicles> -->
          </div>
          <!-- /.tab-pane -->
          <!-- /.tab-pane -->
          <div class="tab-pane" id="tab_6">
            <app-species [data]="otherInformation"></app-species>

          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- nav-tabs-custom -->
    </div>
  </div>


</div>