<ng-container *ngIf="viewDetail" [@viewDeitalItem]="viewDetailItemState">
  <h2 class="page-header">
    <i class="fa  fa-video-camera"></i> {{dataDetail.name}}
    <a (click)="viewDetail = false" class="search-link pull-right">
      <i class="fa fa-mail-reply"></i>
    </a>
  </h2>
  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      Rotation Period
      <address>
        <strong>{{dataDetail.rotation_period}}</strong><br>
      </address>
      Orbital Period
      <address>
        <strong>{{dataDetail.orbital_period}}</strong><br>
      </address>
      Diameter
      <address>
        <strong>{{dataDetail.diameter}}</strong><br>
      </address>
      Climate
      <address>
        <strong>{{dataDetail.climate}}</strong><br>
      </address>
    </div>
    <!-- /.col -->
    <div class="col-sm-8 invoice-col">
      Gravity
      <address>
        <strong>{{dataDetail.gravity}}</strong><br>
      </address>
      Terrain
      <address>
        <strong>{{dataDetail.terrain}}</strong><br>
      </address>
      Surface Water
      <address>
        <strong>{{dataDetail.surface_water}}</strong><br>
      </address>
      Population
      <address>
        <strong>{{dataDetail.population}}</strong><br>
      </address>
      Residents
      <address>
        <strong>{{dataDetail.residents.length}}</strong><br>
      </address>
    </div>
  </div>
</ng-container>
<br>
<div class="row" *ngIf="data.length > 0 && !viewDetail">
  <div class="col-xs-12">
    <pagination-controls (pageChange)="p = $event" id="server" class="pull-right"></pagination-controls>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th style="width:50%">Name</th>
          <th>Population</th>
        </tr>
        <tr *ngFor="let item of data | paginate: { id: 'server', itemsPerPage: 10, currentPage: p , totalItems: data.length}">
          <td>{{item.name}}</td>
          <td>{{item.population}}</td>
          <td><button type="button" (click)="viewDetailItem(item)" class="btn btn-primary btn-xs btn-flat ">View</button></td>
        </tr>
      </table>
    </div>
  </div>
  <!-- /.col -->
</div>