<div class="container">

  <section  class="content-header">
    <h2 class="page-header">Movies List
      <a (click)="toggleSearch()" class="search-link pull-right">
        <span *ngIf="iptSearch.value"><small>"{{iptSearch.value}}"</small></span> <i class="fa fa-search"></i>
      </a>
    </h2>
    <!-- <h1>
    </h1> -->
    <div class="row">
      <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
        <form [formGroup]="searchForm">
          <div class="form-group">
            <input type="text" #iptSearch formControlName="searchControl" class="form-control" placeholder="O que você está procurando?">
          </div>
        </form>
      </div>
    </div>
  </section>
  <div *ngIf="resources?.results?.length < 1" class="row">
    <div class="col-xs-12 text-center">
      <p>Movie not found!...</p>
      <!-- <a class="btn btn-app bg-light-black-gradient" (click)="ngOnInit()">
          <i class="fa fa-repeat color-text-star"></i> <p>Clear</p>  
      </a> -->
    </div>
  </div>
  <div class="row">
    <div *ngIf="resources?.count > 0" class="row">
      <div class="col-xs-12">
        <pagination-controls (pageChange)="p = $event" id="film" class="pull-right"></pagination-controls>
      </div>
    </div>
  </div>

  <div class="row" [@listAppeared]="listState">
    <div class="col-xs-12">
      <ng-container *ngFor="let film of resources.results | paginate: { id: 'film', itemsPerPage: 10, currentPage: p , totalItems: resources.count}">
        <div class="col-sm-4 col-xs-12">
          <div class="small-box bg-light-black-gradient">
            <div class="inner">
              <h4>{{film.title}}</h4>
              <span> Director: <p><small>{{film.director}}</small></p> </span>
            </div>
            <div class="icon">
              <i class="fa fa-video-camera"></i>
            </div>
            <a  (click)="detailFilm(film.url)" class="small-box-footer color-text-star">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>